@import '../../../../../stylesheets/base';

.message {
    flex-grow: 1;
    height: auto;
}

.programme-details {
    padding-bottom: $spacing-large;

    .heading {
        position: sticky;
        top: 0;
        border-bottom: $width-separator-thin solid $color-accent;
        background-color: $color-foreground;
        padding: $spacing-small $spacing-medium;
        width: 100%;
        color: $color-accent;
        font-weight: $font-weight-bold;
    }

    .sector-list {
        .sector-name {
            padding: 0;
        }
    }
}
