@import '../../../stylesheets/base';

$width-information-pane: 380px;

.information-pane {
    display: flex;
    flex-direction: column;
    opacity: .9;
    background-color: $color-background-row;
    width: $width-information-pane;
    height: calc(100% - #{$spacing-medium * 2});

    .fixed-tabs {
        flex-shrink: 0;
    }
}

.show-information-button {
    padding: $spacing-small $spacing-medium;
    font-size: $font-size-extra-large;
}
