@import '../../../stylesheets/base';

.message {
    flex-grow: 1;
    height: auto;
}

.programme-details {
    padding: 5px;

    .sector-list {
        .sector-name {
            padding: 0;
        }
    }
}
