@import '../../stylesheets/base';

.explore {
    padding: $spacing-medium;
    height: 100%;

    .content {
        background-color: $color-foreground;
        padding: $spacing-medium;
        width: 100%;

        .table {
            padding: $spacing-small;
        }

    }

}
