@import '../../stylesheets/base';
@import '../../vendor/react-store/stylesheets/button-base';

.explore {
    display: flex;
    padding: $spacing-medium;
    height: 100%;

    .content {
        flex-basis: 25%;
        border-right: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;
        height: calc(100vh - #{$height-navbar} - 2 * #{$spacing-medium});
        overflow-y: auto;

        .item {
            display: flex;
            border-bottom: $width-separator-thin solid $color-separator;
            border-left: $width-separator-thick solid transparent;

            &.selected {
                border-left: $width-separator-thick solid $color-accent;
            }

            .button {
                @extend %button-base;
                flex-grow: 1;
                padding: $spacing-medium;
                text-align: left;
            }

            .link {
                flex-shrink: 0;
                padding: $spacing-medium;

                &:hover {
                    color: $color-accent;
                }
            }
        }
    }

    .viewer {
        flex-basis: 75%;
    }

}
