@import '../../../stylesheets/base';

.message {
    flex-grow: 1;
    height: auto;
}

.province-details {
    .programme {
        .programme-name {
            display: flex;

            .marker {
                flex-shrink: 0;
                padding-right: $spacing-small;
            }
            .title {
                flex-grow: 1;
            }
        }
    }
}
