@import '../../../stylesheets/base';

.filters-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-right: $width-separator-thin solid $color-separator;
    background-color: $color-foreground-alt;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        // background-color: $color-foreground;
        padding: $spacing-small;

        .left {
            flex-shrink: 0;
        }

        .right {
            flex-shrink: 0;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0 $spacing-medium;
        overflow-y: auto;

        .layers, .filters {
            .input {
                margin: $spacing-medium-alt 0;

                :global {
                    .select-input, .multi-select-input {
                        .label {
                            color: $color-accent;
                            font-size: $font-size-medium;
                            font-weight: $font-weight-normal;
                        }
                    }

                    .list {
                        .selected-item {
                            padding: $spacing-extra-small 0;

                            .label {
                                color: $color-text-label;
                                font-size: $font-size-small;
                            }

                            .remove-button {
                                @include transition-medium;
                                align-self: flex-start;
                                order: 1;
                                opacity: 0;
                                padding-right: $spacing-small;
                                padding-left: $spacing-small;
                                font-size: $font-size-medium-alt;
                            }

                            &:hover {
                                .remove-button {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                &.disabled {
                    :global {
                        .select-input, .multi-select-input {
                            .label {
                                color: $color-text-label;
                            }
                        }
                    }
                }

                .empty {
                    padding: $spacing-small 0;
                    color: $color-text-label;
                }
            }
        }
    }
}
