@import '../../../stylesheets/base';

.country-details {
    border-left: $width-separator-thin solid $color-separator;

    .title {
        flex-shrink: 0;
        border-bottom: $width-separator-thin solid $color-accent;
        padding: $spacing-small $spacing-medium;
    }

    .content {
        display: table;
        width: 100%;
        font-size: $font-size-medium-alt;
    }
}
