@import '../../stylesheets/base';

$width-left-pane: 240px;

.dashboard {
    @extend %main-content;
    display: flex;

    >.left {
        display: flex;
        position: relative;
        flex-basis: $width-left-pane;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        z-index: 1;
        box-shadow: 0 0 $radius-blur-large $radius-spread-medium $color-shadow-medium;
    }

    >.right {
        position: relative;
        flex-grow: 1;

        .map {
            width: 100%;
            height: 100%;

            .scale-legend {
                margin-bottom: $spacing-small;
                margin-left: $spacing-small;
                box-shadow: 0 0 $radius-blur-large $radius-spread-medium $color-shadow-medium;
            }
        }

        .information-pane {
            position: absolute;
            top: $spacing-medium;
            right: $spacing-medium;
            z-index: 1111;
            box-shadow: 0 0 $radius-blur-large $radius-spread-medium $color-shadow-medium;
        }
    }
}


.municipality-tooltip {
    background-color: $color-foreground;

    .title {
        padding: $spacing-small $spacing-medium;
        font-weight: $font-weight-normal;
    }

    .programs {
        padding: $spacing-small $spacing-medium;
    }
}
