@import '../../stylesheets/base';

$width-left-pane: 240px;

.dashboard {
    @extend %main-content;
    display: flex;

    >.left {
        display: flex;
        position: relative;
        flex-basis: $width-left-pane;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        z-index: 1;
    }

    >.right {
        position: relative;
        flex-grow: 1;

        .information-pane {
            position: absolute;
            top: $spacing-medium;
            right: $spacing-medium;
            z-index: 1111;
        }
    }
}
