@import '../../stylesheets/base';

$width-right-panel: 340px;

.dashboard {
    @extend %main-content;
    display: flex;

    >.left {
        position: relative;
        flex-grow: 1;

        .map {
            width: 100%;
            height: 100%;
        }
    }

    >.right {
        display: flex;
        flex-basis: $width-right-panel;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        z-index: 1;
        box-shadow: 0 0 $radius-blur-large $radius-spread-medium $color-shadow-medium;

        .fixed-tabs {
            flex-shrink: 0;
        }
    }
}
