@import '../../stylesheets/base';

.item {
    display: table-row;
    @extend %background-alternating-row;


    .label {
        display: table-cell;
        padding: $spacing-small $spacing-medium;
        white-space: nowrap;
        color: $color-text-label;
    }

    .value {
        display: table-cell;
        padding: $spacing-small $spacing-medium;
        width: 100%;
    }
}
