@import '../../../../../../stylesheets/base';

.message {
    flex-grow: 1;
    height: auto;
}

.municipality-details {
    padding-bottom: $spacing-large;

    >.heading {
        border-bottom: $width-separator-thin solid $color-primary;
        padding: $spacing-small $spacing-medium;
        color: $color-primary;
    }

}
