@import '../../../../../../stylesheets/base';

.message {
    flex-grow: 1;
    height: auto;
}

.municipality-details {
    padding-bottom: $spacing-large;

    >.heading {
        padding: $spacing-small $spacing-medium;
        color: $color-accent;
    }

}
