@import '../../../../../../stylesheets/base';

.message {
    flex-grow: 1;
    height: auto;
}

.municipality-details {
    border-bottom: $width-separator-thin solid $color-separator;

    >.heading {
        padding: $spacing-small $spacing-medium;
        text-transform: none;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
    }
}
