@import '../../../stylesheets/base';

.popup {
    display: flex;
    position: absolute;
    z-index: 1;

    button {
        padding: $spacing-medium;
    }
}

.filters {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    background-color: $color-foreground-alt;
    padding: $spacing-medium;
    width: 300px;

    >.title {
        display: flex;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-accent;
        padding: $spacing-medium;

        .close {
            &:hover {
                background-color: $color-background-hover;
            }
        }
    }

    .clear {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin: $spacing-small 0;

        button:hover {
            background-color: $color-background-hover;
        }
    }


    .left {
        display: flex;
        flex-direction: column;

        .province,
        .programme,
        .sector, {
            margin: $spacing-medium 0;
            padding: $spacing-small;
        }
    }

    .right {
        flex-shrink: 0;

        .indicator,
        .layers {
            margin: $spacing-medium 0;
            padding: $spacing-small;
        }
    }

}
