@import '../../../stylesheets/base';

$height-header: 8px;

%float-position {
    top: $spacing-medium;
    left: $spacing-medium;
    box-shadow: 0 $spacing-extra-small $radius-blur-large $radius-spread-medium $color-shadow-medium;
}

.popup {
    @extend %float-position;
    display: flex;
    position: absolute;
    z-index: 1;

    button {
        padding: $spacing-medium;
    }
}

.filters-container {
    @extend %float-position;
    display: flex;
    position: absolute;
    flex-direction: column;
    opacity: .9;
    z-index: 1;
    background-color: $color-foreground-alt;
    width: 292px;
    max-height: calc(100vh - #{$height-navbar + 2 * $spacing-medium});

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;

        .close {
            padding: $spacing-small $spacing-medium;
            font-size: $font-size-large;

            &:hover {
                background-color: $color-background-hover;
            }
        }

        .right-container {
            display: flex;
        }
    }

    %content {
        border-top: $width-separator-thin solid $color-separator;

        .heading {
            background-color: $color-background-header;
            padding: $spacing-small $spacing-medium;
        }

        .content {
            padding: $spacing-medium;
            padding-top: 0;

            .input {
                margin: $spacing-small 0;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        overflow-y: auto;

        .layers {
            @extend %content;
        }

        .filters {
            @extend %content;
        }
    }
}
