@import '../../../../stylesheets/base';

.message {
    flex-grow: 1;
    height: auto;
}

.municipality-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}
