@import '../../../stylesheets/base';

.viewer {
    position: relative;
    height: 100%;

    .container {
        display: flex;
        border: 0;
        width: 100%;
        height: 100%;
    }
}

.message {
    border: $width-separator-thin solid $color-separator;
    background-color: $color-foreground-alt;
}

