@import '../../stylesheets/base';

$width-body-max: 1200px;

.glossary {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: $spacing-medium;
    // width: 100%;
    // max-width: $width-body-max;
    height: 100%;

    .search {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        background-color: $color-foreground;
        padding: $spacing-medium;
    }

    .table {
        display: flex;
        flex-grow: 1;
        overflow-y: auto;
    }
}
