@import '../../stylesheets/base';

.glossary {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .search {
        flex-shrink: 0;
        margin: $spacing-medium 0;
        padding: $spacing-small;
        width: 20%;
    }

    .table {
        display: flex;
        flex-grow: 1;
    }
}
