@import '../../../stylesheets/base';

.map {
    width: 100%;
    height: 100%;

    .scale-legend {
        margin-bottom: $spacing-small;
        margin-left: $spacing-small;
        box-shadow: 0 0 $radius-blur-large $radius-spread-medium $color-shadow-medium;
    }
}
