@import '../../stylesheets/base';

.popup {
    @include shadow-medium;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: $width-separator-thin solid $color-warning;
    background-color: $color-foreground;
    padding: $spacing-large $spacing-extra-large;
    text-align: center;

    p {
        line-height: 1;
        font-size: $font-size-large;

        > span {
            text-transform: capitalize;
        }

        a {
            text-transform: lowercase;
            color: $color-primary;
        }
    }
}
