@import '../../stylesheets/base';

$width-body-max: 1200px;
$height-logo: 96px;

.landing {
    .header {
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;

        .content {
            display: flex;
            position: relative;
            justify-content: space-between;
            margin: auto;
            max-width: $width-body-max;
        }

        .logo {
            display: block;
            padding: $spacing-medium;
            height: $height-logo;
            object-fit: contain;
            object-position: left center;
        }

        %abs {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .background {
            @extend %abs;
            z-index: -2;
            object-fit: cover;
            object-position: center center;
        }

        .backdrop {
            @extend %abs;
            opacity: .8;
            z-index: -1;
            background-color: $color-foreground;
        }

        .menu {
            align-self: flex-end;

            .link {
                display: inline-block;
                padding: $spacing-medium;
                color: $color-primary;
                font-weight: $font-weight-bold;
            }
        }
    }

    .body {
        margin: auto;
        max-width: $width-body-max;

        %section {
            .heading {
                padding: $spacing-small $spacing-medium;
                color: $color-accent;
                font-weight: $font-weight-bold;
            }

            .content {
                padding: $spacing-small $spacing-medium;
            }
        }

        .map-section {
            display: flex;
            margin: $spacing-medium 0;

            .province-map {
                flex-grow: 1;
                margin-right: $spacing-medium;
                height: 480px;
            }

            .overview {
                flex-shrink: 0;
                background-color: $color-foreground-alt;
                @extend %section;

                .content {
                    @include transition-medium;

                    .item {
                        display: flex;
                        align-items: baseline;

                        .label {
                            padding: $spacing-small;
                            color: $color-text-label;
                        }

                        .value {
                            // display: table-cell;
                            padding: $spacing-small;
                            text-align: right;
                            color: $color-accent;
                            font-size: $font-size-ultra-large;
                            font-weight: $font-weight-light;
                        }
                    }
                }
            }
        }

        .charts {
            display: flex;

            .chart-container {
                display: flex;
                flex-basis: 50%;
                flex-direction: column;
                margin-bottom: $spacing-medium;
                background-color: $color-foreground-alt;
                height: 400px;

                &:first-child {
                    margin-right: $spacing-medium;
                }

                .heading {
                    flex-shrink: 0;
                    padding: $spacing-small $spacing-medium;
                    color: $color-accent;
                    font-weight: $font-weight-bold;
                }

                .chart {
                    flex-grow: 1;
                }
            }
        }

        .about {
            @extend %section;
            background-color: $color-foreground-alt;
            margin-bottom: $spacing-medium;
            // padding: $spacing-large 0;

            .content {
                display: flex;
                padding: $spacing-large;

                .text {
                    max-width: 720px;
                    line-height: 1.8;

                    p {
                        margin: 0 0 $spacing-medium 0;
                        text-align: justify;
                    }
                }

                .right-box {
                    flex-grow: 1;
                    margin-left: $spacing-large;
                    border: $width-separator-thin solid $color-separator;
                }
            }
        }


        .province-list {
            @extend %section;

            .content {
                padding: 0;
            }
        }
    }

    .footer {
        background-color: $color-foreground-dark;
        padding: $spacing-large $spacing-medium;
        color: $color-text-on-dark;

        .content {
            margin: auto;
            max-width: $width-body-max;
            display: flex;
            align-items: baseline;
        }

        .address {
            .title {
                padding: $spacing-small $spacing-large;
                font-size: $font-size-super-large;
            }

            .info {
                padding: $spacing-extra-small $spacing-large;
                color: $color-text-label-on-dark;
                font-size: $font-size-large;
            }
        }

        .contact {
            .info {
                display: flex;
                padding: $spacing-extra-small $spacing-large;
                color: $color-text-label-on-dark;
                font-size: $font-size-large;

                .label {
                    width: 24px;
                }

                .value {
                    text-transform: none;
                }
            }

        }

        .links {
            .link {
                padding: $spacing-small $spacing-medium;
                font-weight: $font-weight-bold;
            }
        }
    }
}
