@import '../../stylesheets/base';

.landing {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../../resources/img/background.png');
    width: 100%;

    .left {
        display: flex;
        flex-basis: 70%;
        flex-direction: column;

        .overview {
            flex-grow: 1;

            .logo {
                display: block;
                align-self: flex-start;
                padding: $spacing-large;
                height: 144px;
            }

            .content {
                @include transition-medium;
                @include shadow-small;
                display: flex;
                align-content: center;
                align-items: center;
                flex-grow: 1;
                flex-wrap: wrap;
                justify-content: center;

                .item {
                    flex-basis: calc(calc(100% / 3) - #{2 * $spacing-extra-large} - 40px); 
                    margin: $spacing-extra-large;
                    border: $width-separator-thin solid $color-accent;
                    background-color: rgba(255, 255, 255, 0.8);
                    padding: $spacing-extra-large;

                    .label {
                        color: $color-text-label;
                        font-size: $font-size-large;
                        font-weight: $font-weight-bold;
                    }

                    .value {
                        color: $color-accent;
                        font-size: $font-size-ultra-large-alt;
                        font-weight: $font-weight-light;
                    }

                    &:hover {
                        @include transition-medium;
                        @include shadow-medium;
                        opacity: 1;
                    }
                }
            }
        }

        .bottom-content {
            display: flex;
            flex-shrink: 0;
            border-top: $width-separator-thin solid $color-separator;
            background-color: rgba(255, 255, 255, 0.8);

            .about {
                flex-basis: 50%;
                border-right: $width-separator-thin solid $color-accent;
                padding: $spacing-medium 0;

                .title {
                    padding: $spacing-medium;
                }

                .content {
                    padding: $spacing-medium;
                    line-height: 1.6;
                }
            }

            .explore {
                flex-basis: 50%;

                .title {
                    padding: $spacing-medium;
                }

                .content {
                    padding: 0 $spacing-medium;
                }
            }
        }
    }

    .right {
        flex-basis: 30%;
        background-color: $color-background;

        >.title {
            border-bottom: $width-separator-thin solid $color-accent;
            background-color: $color-foreground;
            padding: $spacing-medium;
        }

        >.content {
            .province {
                @extend %background-alternating-row;
                @include transition-medium;
                display: flex;
                align-items: center;
                border-bottom: $width-separator-thin solid $color-separator;
                border-left: $width-separator-thick solid $color-separator;
                text-transform: none;

                &:hover {
                    border-left-color: $color-accent;
                    background-color: darken($color-background-hover, 20%);
                }

                .image {
                    flex-shrink: 0;
                    width: 144px;
                }

                >.content {
                    flex-grow: 1;

                    > .title {
                        padding: $spacing-small $spacing-medium;
                        color: $color-accent;
                        font-size: $font-size-large-alt;
                    }

                    > .content {
                        display: table;
                        padding: $spacing-small 0;

                        .item {
                            display: table-row;

                            .icon {
                                padding-left: $spacing-medium;
                                height: $font-size-large;
                            }

                            .label {
                                display: table-cell;
                                padding: $spacing-extra-small $spacing-medium;
                            }

                            .value {
                                display: table-cell;
                                padding: $spacing-extra-small $spacing-medium;
                                font-size: $font-size-large;

                                :global {
                                    .normalized-suffix {
                                        margin-left: $spacing-small;
                                        font-family: $font-family-sans-serif;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        flex-shrink: 0;
        background-color: $color-foreground-dark;
        padding: 0 $spacing-medium;
        height: 100px;
        color: $color-text-on-dark;

        .title {
            padding: $spacing-large;
            font-size: $font-size-super-large;
        }

        .link {
            padding: $spacing-medium;
        }
    }
}
