@import '../../../stylesheets/base';

.scale-legend {
    display: flex;
    flex-direction: column;
    background-color: $color-foreground;
    width: 240px;

    .scale {
        width: 100%;
        height: 12px;
    }

    .scaleValues {
        display: flex;
        justify-content: space-between;
        padding: $spacing-extra-small 0;

        span {
            margin: 0 $spacing-small;
            color: $color-text-label;
            font-size: $font-size-small;
        }
    }
}
