@import '../../stylesheets/base';

.map {
    position: relative;

    .left-bottom-panels {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        align-items: flex-end;
        z-index: 100;
    }

    .top-left-panels {
        display: flex;
        position: absolute;
        top: $spacing-medium;
        left: $spacing-medium;
        align-items: flex-end;
        z-index: 100;
    }
}
