@import '../../stylesheets/base';

.map {
    position: relative;

    .left-bottom-panels {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        align-items: flex-end;
        z-index: 100;

        .legend {
            margin-bottom: $spacing-small;
            margin-left: $spacing-small;
            box-shadow: 0 0 $radius-blur-large $radius-spread-medium $color-shadow-medium;
            max-height: 480px;
            overflow-y: auto;
        }
    }

    .top-right-panels {
        display: flex;
        position: absolute;
        top: 8px;
        left: 7px;
        align-items: flex-end;
        z-index: 100;

        .export-button {
            margin-right: $spacing-small;
            margin-bottom: $spacing-small;
            background-color: $color-accent;
            padding: $spacing-small;
            color: $color-foreground;
            i {
                padding: 0 $spacing-small;
            }


        }
    }
}
